.header {
  background: linear-gradient(45deg, #2d2552, #054997);
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100vw;
  height: 65px;
  z-index: 1000;
  position: fixed;
}
.header_content {
  width: 95%;
  height: 65px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Distribute space between items */
  background: linear-gradient(45deg, #2d2552, #054997);
  padding: 10 20px; /* Add padding for spacing around the header */
  z-index: 1001;
  position: fixed;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 1%;
  margin-top: 3px;
  width: 300px; /* Adjust based on your logo size */
  height: 60px;
  background-image: url("../../assets/logo.png");
  background-repeat: no-repeat;
  background-size: contain; /* Ensure the logo fits the container */
}
.button {
  margin-top: 10px;
}
